:root {
    --navy-Blue: #010167;
    --black-blue: #0A0E18;
    --white: #ffffff;
    --soft-gold: #D4AF37;
    --soft-gold-light: #d1a23d;
    --sky-blue: #466B8E;
    --dark-gray: #333333;
    --light-gray: #A9A9A9;
  }